@model AssetaWeb.Models.WoExecutionTbl
@{
    ViewData["Title"] = "Run";
}
<script src="~/plugin/components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/plugin/components/bootstrap/dist/css/bootstrap.min.css">
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<section class="content-header">
    <h1>
        Create New Work Order
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="WorkOrder" asp-action="Index">Work Order</a></li>
        <li class="active">Create New Work Order</li>
    </ol>
    <br />
</section>
<section class="content container-fluid">
    <form asp-action="Run">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Workorder
                </h3>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn pull-right">
                    <i class="far fa-save"></i>&nbsp;&nbsp;Save
                </button>&nbsp;&nbsp;&nbsp;
                @*<button type="submit" class="btn pull-right">
                        <i class="far fa-save"></i>&nbsp;&nbsp;Create Data 2
                    </button>&nbsp;&nbsp;&nbsp;*@
            </div>
            <hr />
            <div class="box-body">

                @*<div class="col-lg-12">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn pull-right">
                                <i class="far fa-save"></i>&nbsp;&nbsp;Create Data 1
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn pull-right">
                                <i class="far fa-save"></i>&nbsp;&nbsp;Create Data 1
                            </button>
                        </div>
                    </div>*@
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                        <li><a href="#sparepart" data-toggle="tab">Sparepart Used</a></li>
                        <li><a href="#task" data-toggle="tab">Task</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- Tab 1 -->
                        <div class="active tab-pane" id="general">
                            </br>
                            <div class="row form-border">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Wo Execute ID</b>
                                            </div>
                                            <div class="col-sm-8">
                                                <input asp-for="WorkExeId" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                        <span asp-validation-for="WorkExeId" class="text-danger"></span>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Wo Desc</b>
                                            </div>
                                            <div class="col-sm-8">
                                                <input asp-for="WoDesc" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                        <span asp-validation-for="WoDesc" class="text-danger"></span>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Technician Name</b>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<input asp-for="TechnicianId" class="form-control" autocomplete="off" />*@
                                                @Html.DropDownListFor(model => model.TechnicianId, new SelectList(ViewBag.TECHNICIANID, "TechnicianId", "TechnicianName"), htmlAttributes: new { @class = "form-control", @name = "TECHNICIANID", @id = "TECHNICIANID" })
                                            </div>
                                        </div>
                                        <span asp-validation-for="TechnicianId" class="text-danger"></span>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Date</b>
                                            </div>
                                            <div class="col-sm-8">
                                                <input asp-for="Date" class="form-control" autocomplete="off" type="date" />
                                            </div>
                                        </div>
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Site Name</b>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<input asp-for="SiteId" class="form-control" autocomplete="off" />*@
                                                @Html.DropDownListFor(model => model.SiteId, new SelectList(ViewBag.SITEID, "SiteId", "SiteName"), htmlAttributes: new { @class = "form-control", @name = "SITEID", @id = "SITEID" })
                                            </div>
                                        </div>
                                        <span asp-validation-for="SiteId" class="text-danger"></span>
                                        <br />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 1 -->
                        <!-- Tab 2 -->
                        <div class="tab-pane" id="sparepart">
                            </br>
                            <div class="row form-border">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <b>Sparepart</b>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="table-responsive">
                                                    <table class="table" id="tblCustomers" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <th width="30%">
                                                                Sparepart ID
                                                            </th>
                                                            <th width="30%">
                                                                Sparepart Code
                                                            </th>
                                                            <th width="30%">
                                                                Qty
                                                            </th>
                                                            <th width="100"></th>
                                                        </tr>
                                                        @foreach (var item in ViewBag.Sparepart)
                                                        {
                                                            <tr>
                                                                <td class="SparepartId" width="35%">
                                                                    <span>@item.SparepartId</span>
                                                                </td>
                                                                <td class="SparepartCode" width="35%">
                                                                    <span>@item.SparepartCode</span>
                                                                    @*<input type="text" value="@item.SparepartCode" style="display:none" />*@
                                                                </td>
                                                                <td class="Quantity" width="30%">
                                                                    <span>@item.Quantity</span>
                                                                    <input type="number" value="@item.Quantity" style="display:none" />
                                                                </td>
                                                                <td width="100">
                                                                    <a class="Edit" href="javascript:;">Edit</a>
                                                                    <a class="Update" href="javascript:;" style="display:none">Update</a>
                                                                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <!-- TAB 3-->
                        <div class="tab-pane" id="task">
                            </br>
                            <div class="row form-border">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Task</b>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="table-responsive">
                                                    <table class="table" width="100%">
                                                        <tr>
                                                            <th width="35%">
                                                                Task Code
                                                            </th>
                                                            <th width="35%">
                                                                Detail
                                                            </th>
                                                            <th width="30%">
                                                                Type
                                                            </th>
                                                        </tr>
                                                        @foreach (var item in ViewBag.Task)
                                                        {
                                                            <tr>
                                                                <td width="35%">
                                                                    @item.TaskCode
                                                                </td>
                                                                <td width="35%">
                                                                    @item.Detail
                                                                </td>
                                                                <td width="30%">
                                                                    @item.TaskType
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TAB 3-->

                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@
<script type="text/javascript">



    function AppendRow(row, sparepartid, sparepartcode, quantity) {
        //Bind CustomerId.
        $(".SparepartId", row).find("span").html(sparepartid);

        //Bind Name.
        $(".SparepartCode", row).find("span").html(sparepartcode);
        $(".SparepartCode", row).find("input").val(sparepartcode);

        //Bind Country.
        $(".Quantity", row).find("span").html(quantity);
        $(".Quantity", row).find("input").val(quantity);

        row.find(".Edit").show();
        $("#tblCustomers").append(row);
    };

    //Edit event handler.
    $("body").on("click", "#tblCustomers .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        $(this).hide();
    });

    //Cancel event handler.
    $("body").on("click", "#tblCustomers .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").hide();
                $(this).find("span").show();
            }
        });
        row.find(".Update").hide();
        row.find(".Cancel").hide();
        row.find(".Edit").show();
        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#tblCustomers .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
     //   row.find(".Delete").show();
        row.find(".Cancel").hide();
        $(this).hide();

         var aidineh = @ViewBag.Aidi;
         var quant = row.find(".Quantity").find("span").html();
         var sparess = row.find(".SparepartCode").find("span").html();

        //var things = [
        //    { Quantity: quant, SparepartCode: sparess },
        //    { Quantity: 1, SparepartCode: 'red' }

        //];
        var stringArray = new Array();
        stringArray[0] = quant.toString();
        stringArray[1] = sparess.toString();
        stringArray[2] = aidineh;
        var postData = { listkey: stringArray };

      //  var sparepartss = {};
       // things = JSON.stringify({ 'things': things });
        //quan = row.find(".Quantity").find("span").html();
        //console.log(quan);
        console.log(postData);
        $.ajax({
            type: "POST",
           // dataType: "json",
            //contentType: "application/json; charset=utf-8",
            url: "/WorkOrderExe/UpdateCustomer",
            data: postData,
           // data: '{customer:' + JSON.stringify(customer) + '}',
          //  data: '{sps:' + sparepartss + '}',




        });


    });

</script>