@*@model AssetaWeb.Models.WoRequestSpartpartLineTbl*@
@model AssetaWeb.Models.TwoModelOneView
@{
    ViewData["Title"] = "WorSpareparts";
}

<script src="~/plugin/components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/plugin/components/bootstrap/dist/css/bootstrap.min.css">

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="WoRequest" asp-action="Index">Wo Request</a></li>
        <li class="active">Request Lines</li>
    </ol>
    <br />

</section>
<!-- Content Header (Page header) -->

<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <!--  --------------------- Task Header --------------------------- -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form asp-action="Create">
                        <div class="row form-border">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <div class="col-sm-6">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Request Id</b>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="@ViewBag.RequestId" readonly="readonly">
                                        </div>
                                    </div>
                                    @*<span asp-validation-for="Item1.TaskCode" class="text-danger"></span>*@
                                    <br />

                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>

            <!-- ---------------------- Task Lines --------------------------- -->
            <div class="box">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">Spareparts</a></li>
                        <li><a href="#timeline" data-toggle="tab">Task</a></li>

                    </ul>
                </div>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- TAB 1-->

                        <div class="box-header">

                            <p>
                                <a class="btn btn-default" onclick="onCallForm1()">
                                    <i class="fa fa-plus-square"></i>
                                    <span>&nbsp;  Add New Wor Spareparts</span>
                                </a>
                            </p>
                            </br>

                            <h3 class="box-title">All of Data in Wor Spareparts</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th style="width:30%">Wo Request Id</th>
                                        <th style="width:30%">Spareparts</th>
                                        <th style="width:30%">Quantity</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->

                    </div>



                    <div class="tab-pane" id="timeline">
                        <div class="box-header">

                            <p>
                                <a class="btn btn-default" onclick="onCallForm2()">
                                    <i class="fa fa-plus-square"></i>
                                    <span>&nbsp;  Add New Wor Task</span>
                                </a>
                                <a class="btn btn-default" onclick="onCallForm3()">
                                    <i class="fa fa-plus-square"></i>
                                    <span>&nbsp;  Add Existing Wor Task</span>
                                </a>
                            </p>
                            </br>

                            <h3 class="box-title">All of Data in Wor Task</h3>

                        </div>

                        <div class="box-body">
                            <table id="example2" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th style="width:30%">Wo Request Id</th>
                                        <th style="width:30%">Task Detail</th>
                                        <th style="width:30%">Technician</th>

                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>

            </div>

        </div>
    </div>

</section>

<div id="myModal12" class="modal fade content" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Create Wo Request spareparts</h4>
                <hr>
            </div>

            <div class="modal-body">

                <form asp-action="CreateSWorParts">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

         
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-lg-4" hidden="hidden">
                                            <b>Request Id</b>
                                        </div>
                                        <div class="col-lg-8" hidden="hidden">
                                            @*<input type="hidden" class="form-control" value="@ViewBag.Id" readonly="readonly" asp-for="sPare.WoRequestId" hidden="hidden">*@
                                            <input asp-for="sPare.WoRequestId" class="form-control" value="@ViewBag.Id" autocomplete="off"  hidden="hidden"/>
                                        </div>
                                    </div>
                                    <br />


                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b>Spareparts</b>
                                        </div>
                                        <div class="col-lg-8">
                                            @Html.DropDownListFor(model => model.sPare.SparepartId, new SelectList(ViewBag.SPAREPARTID, "SparepartId", "SparepartCode"), htmlAttributes: new { @class = "form-control" })
                                            @*@Html.DropDownList("SPAREPARTID", null, htmlAttributes: new { @class = "form-control", @required = "@required" })*@
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b>Quantity</b>
                                        </div>
                                        <div class="col-lg-8">
                                            <input asp-for="sPare.Quantity" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>
                                    <span asp-validation-for="sPare.Quantity" class="text-danger"></span>
                                    <br />



                                    <div class="row">
                                        <div class="col-lg-4">

                                        </div>
                                        <div class="col-lg-8">
                                            @*<input type="submit" value="Create" class="btn  btn-default" />*@
                                            <button type="submit" class="btn btn-default">
                                                <i class="far fa-save"></i>&nbsp;&nbsp;Create Data
                                            </button>
                                        </div>
                                    </div><br />

                                </div>
                            



                        </div>
                    </div>
                </form>


            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Applied</button>*@
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Closed</button>*@
            </div>

        </div>
    </div>
</div>

<div id="myModal13" class="modal fade content" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Create Wo Request with New Task</h4>
                <hr>
            </div>

            <div class="modal-body">

                <form asp-action="CreateSWorTask">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            @*<div class="col-lg-4">

                                </div>*@

                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-lg-4" hidden="hidden">
                                        <b>Request Id</b>
                                    </div>
                                    <div class="col-lg-8" hidden="hidden">
                                        <input type="hidden" class="form-control" value="@ViewBag.Id" readonly="readonly" asp-for="tAsk.WoRequestId" hidden="hidden">
                                    </div>
                                </div>
                                <br />


                                <div class="row">
                                    <div class="col-lg-4">
                                        <b>Task</b>
                                    </div>
                                    <div class="col-lg-8">
                                        @*@Html.DropDownListFor(model => model.TaskType, ViewBag.type as List<SelectListItem>, htmlAttributes: new { @class = "form-control", @name = "drop", @id = "drop", @style = "display: true" })*@
                                        @*@Html.DropDownList("SPAREPARTID", null, htmlAttributes: new { @class = "form-control", @required = "@required" })*@
                                        <input asp-for="tAsk.TaskDetail" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <span asp-validation-for="tAsk.TaskDetail" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-lg-4">
                                        <b>Technician</b>
                                    </div>
                                    <div class="col-lg-8">
                                        @*@Html.DropDownList("TECHNICIANID", null, "--Select Technician--", htmlAttributes: new { @class = "form-control", @required = "@required" })*@
                                        @Html.DropDownListFor(model => model.tAsk.TechnicianId, new SelectList(ViewBag.TECHNICIANID, "TechnicianId", "TechnicianName"), htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <span asp-validation-for="tAsk.TechnicianId" class="text-danger"></span>
                                <br />



                                <div class="row">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-8">
                                        @*<input type="submit" value="Create" class="btn  btn-default" />*@
                                        <button type="submit" class="btn btn-default">
                                            <i class="far fa-save"></i>&nbsp;&nbsp;Create Data
                                        </button>
                                    </div>
                                </div><br />

                            </div>


                        </div>
                    </div>
                </form>


            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Applied</button>*@
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Closed</button>*@
            </div>

        </div>
    </div>
</div>

<div id="myModal14" class="modal fade content" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Create Wo Request with Existing Task</h4>
                <hr>
            </div>

            <div class="modal-body">

                <form asp-action="CreateSWorTaskEx">
                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            @*<div class="col-lg-4">

                                </div>*@

                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-lg-4" hidden="hidden">
                                        <b>Request Id</b>
                                    </div>
                                    <div class="col-lg-8" hidden="hidden">
                                        <input type="hidden" class="form-control" value="@ViewBag.Id" readonly="readonly" asp-for="tAsk.WoRequestId" hidden="hidden">
                                    </div>
                                </div>
                                <br />


                                <div class="row">
                                    <div class="col-lg-4">
                                        <b>Task</b>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.tAsk.TaskId, new SelectList(ViewBag.TASKID, "TaskId", "TaskDetail"), htmlAttributes: new { @class = "form-control" })
                                        @*@Html.DropDownList("TASKID", null, htmlAttributes: new { @class = "form-control", @required = "@required" })*@

                                    </div>
                                </div>
                                <span asp-validation-for="tAsk.TaskId" class="text-danger"></span>
                                <br />

                                <div class="row">
                                    <div class="col-lg-4">
                                        <b>Technician</b>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.tAsk.TechnicianId, new SelectList(ViewBag.TECHNICIANID, "TechnicianId", "TechnicianName"), htmlAttributes: new { @class = "form-control" })
                                        @*@Html.DropDownList("TECHNICIANID", null, htmlAttributes: new { @class = "form-control", @required = "@required" })*@
                                    </div>
                                </div>
                                <span asp-validation-for="tAsk.TechnicianId" class="text-danger"></span>
                                <br />



                                <div class="row">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-8">
                                        @*<input type="submit" value="Create" class="btn  btn-default" />*@
                                        <button type="submit" class="btn btn-default">
                                            <i class="far fa-save"></i>&nbsp;&nbsp;Create Data
                                        </button>
                                    </div>
                                </div><br />

                            </div>


                        </div>
                    </div>
                </form>


            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Applied</button>*@
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Closed</button>*@
            </div>

        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        @*console.log('aaa');
        console.log(@ViewBag.TaskId);*@


        $("#example").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "ordering": false,
            "ajax": {
                "url": "/WoRequest/LoadDataLine/"+@ViewBag.Id,
               // "data"{i": d =}"+model.TaskId+",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],

            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "RequestId", "name": "RequestId", "autoWidth": true },
                { "data": "SparepartCode", "name": "SparepartCode", "autoWidth": true },
                { "data": "Quantity", "name": "Quantity", "autoWidth": true },
                {

                    "render": function (data, type, full, meta) {
                        return '<button type="submit" value="Delete" class="btn btn-default" onclick="remove(' + full.Id + ')" id="aidi"><i class="fas fa-trash-alt"></i> Delete </button>';
                    }
                },
            ]

        });
    });

    function remove(id) {
        //var myId = $('#TechnicianId').val();
        var myId = id;
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover your data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteScheParts")',
                        data: { id: myId},
                        dataType: "json",
                      // success: window.location.reload(),
                        success: function (response) {
                            swal("Poof! Your data has been deleted!", {
                                icon: "success",
                            }).then(function() {
                              //  window.location.href = "/Technician/Index"
                                window.location.reload()
                            });

                        }

                    });
                }
                else {
                    swal("Your data is safe!");
                }
            });
    }



     $(document).ready(function () {
        @*console.log('aaa');
        console.log(@ViewBag.TaskId);*@


        $("#example2").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "ordering": false,
            "ajax": {
                "url": "/WoRequest/LoadDataLine2/"+@ViewBag.Id,
               // "data"{i": d =}"+model.TaskId+",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],

            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "RequestId", "name": "RequestId", "autoWidth": true },
                { "data": "TaskDetail", "name": "TaskDetail", "autoWidth": true },
                { "data": "TechnicianName", "name": "TechnicianName", "autoWidth": true },
                {

                    "render": function (data, type, full, meta) {
                        return '<button type="submit" value="Delete" class="btn btn-default" onclick="remove2(' + full.Id + ')" id="aidi"><i class="fas fa-trash-alt"></i> Delete </button>';
                    }
                },
            ]

        });
    });

    function remove2(id) {
        //var myId = $('#TechnicianId').val();
        var myId = id;
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover your data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteTaskLines")',
                        data: { id: myId},
                        dataType: "json",
                      // success: window.location.reload(),
                        success: function (response) {
                            swal("Poof! Your data has been deleted!", {
                                icon: "success",
                            }).then(function() {
                              //  window.location.href = "/Technician/Index"
                                window.location.reload()
                            });

                        }

                    });
                }
                else {
                    swal("Your data is safe!");
                }
            });
    }
</script>

<script>
    function onCallForm1(e) {
        $('#myModal12').modal('toggle');
    }

    function onCallForm2(e) {
        $('#myModal13').modal('toggle');
    }

    function onCallForm3(e) {
        $('#myModal14').modal('toggle');
    }
</script>
