@model AssetaWeb.Models.SparepartRequestTbl

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SparepartRequestTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SparepartRequestId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparepartRequestId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WoDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WoDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
